.footer-top{
   padding-top: 40px ;
    margin: 0;
    background: #f4f4f4;
   
 }
img{
    height: 100px;
    width:200px;
    padding:3px;
    margin: 8px;
}





.segment-one p a {
 background:#c65039;
 color: #fff;
 margin: 4px 2px;
 padding: 4px 4px;
}




body{
    letter-spacing:2px;
}
.segment-five a  {
    border-radius: 50%;
    color: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #424646;

}
.segment-five a svg{
    font-size: 20px;
    color: #fff;
}
p i{
    color: #f07;
}

h5{
    padding-top: 30px;
   
    color:#000;
  
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    text-transform:capitalize;

}
.segment-four h5{
    margin: -5px 0;
}
.segment-four ul li a{
    letter-spacing: 2px;
    padding-left: 10px;
    color: #626477;

}
.segment-four ul{
    list-style: none;
}
.segment-three ul li a{
    letter-spacing: 2px;
    padding-left: 10px;
    color: #000;

}
.segment-three ul{
    list-style: none;
}
.segment-tow ul li a{
    letter-spacing: 2px;
    padding-left: 10px;
    color: #002;
}
.segment-tow ul{
    list-style: none;
    color: #000;
}
p a{
    text-align: center;
}
.segment-five a svg{
      margin: 10px;
}

h5::before{
    content: "|";
    color:#c65039;
    padding-right: 10px;
}




 div .copyr{
    background: #000;
    line-height:80px;
    color: #c7d8d9;
    text-align: center;
    letter-spacing: 1px;
}

