*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
}
body{
    background:linear-gradient(rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%),url(2.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;  
}
.form{
    height: 430px;
    width: 340px;
    color:#000;
    background:#F4F4F4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:40px 25px;
    border-radius: 15px; 
}
.form h1{
    width: 220px;
    text-align: center;
    padding-left: 11px;
    font-size: 35px;
    color:#000;
    margin-bottom: 20px;
}
.form p {
    padding-bottom: -15px;
}
.form input{
   height: 35PX;
   width:100%;
   background: transparent;
   border-bottom: 1px solid #000;
   border-left: none;
   border-top: none;
   border-right: none;
   color: #000;
   outline: none;
   font-size: 15px;
   letter-spacing: 1px;
}

    

.form input[type="submit"]{
    width: 60%;
    margin-left: 50px;
    border:none;
    height: 40px;
    color: #000;
    background: #fff;
    font-size:  16px;
    font-weight: bold;
    border-radius: 15px;


}
.form input[type="submit"]{
    cursor: pointer;
    background: #FFF;
    color: #000;
    font-weight: bold;

}
.chekbox{
  padding-top: 10px;
  margin: 15px 10px;
  color: #fff; 
  text-align: center;
  text-decoration: none;
} 
/* 
p::before {
    content: "|";
  } */


