body{
    margin-top: ;
    margin-left: ;
    color: navy;
    background: ;
}
table,td {
    align:center ;
    border: 1px solid #333;
    font-size: 15px;
    margin:0;
    padding-bottom:5px;
    width: 60%;
}

thead
 {
    background-color: #333;
    color: #fff;
}
h1{
    text-align: center;
    color: #fff;
}
