table{
    border: 2px solid  red;
}
td,th{
    border: solid 1px #000;
    margin: 0;
    vertical-align: middle;

}
th{
    text-align: center;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border-color: #fff;
}
td{
    empty-cells: hide;
    
}